* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161513;
  scroll-behavior: smooth;
}

header {
  padding: 20px 0;
  box-shadow: 0 5px 16px -2px rgba(0, 0, 0, 0.1);
  background: #222222;
  width: 100%;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.5s ease, color 0.5s ease;
  background: linear-gradient(to right, white 50%, #ff6347 50%);
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header a:hover {
  background-position: 0;
  -webkit-text-fill-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img:hover {
  filter: brightness(1.8) contrast(1.5);
}
.header img {
  width: 80px;
  height: 80px;
  rotate: 90deg;
  filter: brightness(1.5) contrast(1.2);
}
.header__links {
  display: flex;
  gap: 50px;
}
.header__links a {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.main-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
}
.main-sec img {
  margin-top: 100px;
}
.main-sec h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 55px;
  line-height: 115%;
  text-align: center;
  color: #fff;
  width: 665px;
  margin-top: 41px;
  margin-bottom: 30px;
}
.main-sec h1 span {
  background: linear-gradient(90deg, #ff8660 0%, #9a33ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-sec p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #c5c5c5;
  text-align: center;
  width: 680px;
  margin-bottom: 54px;
}
.main-sec button {
  border: 1px solid #fff;
  border-radius: 50px;
  width: 195px;
  height: 64px;
  background: #fff, #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  color: #161513;
  cursor: pointer;
  margin-bottom: 80px;
}
.main-sec button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.Experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Experience__icons {
  display: flex;
  gap: 30px;
  margin-top: 48px;
}
.Experience__icons img {
  animation: puls 3s ease-in-out infinite alternate;
  margin-bottom: 100px;
}
.Experience b {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.12em;
  color: #c5c5c5;
  margin-top: 80px;
}

@keyframes puls {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.projects h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 35px;
  line-height: 102%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  text-align: center;
}
.projects__cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.projects__cards__card {
  border-radius: 18px;
  width: 390px;
  height: 301px;
  background: #2a2a2a;
}
.projects__cards__card .projects__cards__card__img {
  border-radius: 18px 18px 0 0;
  width: 390px;
  height: 235px;
}
.projects__cards__card__text {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.projects__cards__card__text a {
  text-decoration: none;
}
.projects__cards__card__text a p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 10px;
  line-height: 190%;
  text-transform: uppercase;
  color: #c5c5c5;
}
.projects__cards__card__text a b {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 19px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
}

.Experience-sec h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 35px;
  line-height: 102%;
  text-transform: uppercase;
  background: linear-gradient(180deg, #5badff 0%, #1373d1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.Experience-sec__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}
.Experience-sec__texts p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #8491a0;
}
.Experience-sec__texts__logo {
  display: flex;
  align-items: center;
  gap: 260px;
  margin-bottom: 20px;
}
.Experience-sec__texts__logo div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Experience-sec__texts__logo div img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.Experience-sec__texts__logo div b {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  color: #fff;
}

.Experience-sec__texts__text-p {
  width: 65%;
  margin-bottom: 30px;
}

footer {
  background-color: #191919;
  padding: 30px;
}
footer .footer h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 30px;
}
footer .footer p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #c5c5c5;
  width: 60%;
  margin-bottom: 22px;
}
footer .footer div {
  display: flex;
  gap: 10px;
}
footer .footer div a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #c5c5c5;
  text-decoration: none;
}
footer .footer__icons {
  margin-top: 40px;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #1e1e1e;
  /* Match your header background */
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
  /* Hidden by default */
  transition: opacity 0.3s, transform 0.3s;
}

#backToTop:hover {
  transform: scale(1.1);
  background-color: #555;
  /* Slightly lighter for hover effect */
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  transform: scale(1.1);
  /* Slightly increase size */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Scrollbar for modern design */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
  height: 8px;
  /* Height for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  /* Light transparent background */
  border-radius: 10px;
  /* Rounded edges */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  /* Semi-transparent white */
  border-radius: 10px;
  /* Rounded edges for the thumb */
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  /* Smooth hover effect */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
  /* Brighten the thumb on hover */
}

body {
  scrollbar-width: thin;
  /* For Firefox: Makes scrollbar thinner */
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
  /* Thumb and track colors */
}/*# sourceMappingURL=main.css.map */